    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About</h2>

                    <img class="blog-img img-right" alt="JMT Backpack" src="{{site.baseurl}}{{site.author-pic}}">

                    <p>Stacky Rocks are the musings of Lisa Faiss -- code writer, data science dabbler, and website pixel painter. Her professional background is in software engineering, business analysis, and project management. Since 2009, she's been developing custom websites, themes, and plugins. Her latest obsession is business intelligence and you can catch her leading the monthly <a href="http://www.meetup.com/businessintelligenceaz/" target="_blank">Business Intelligence Arizona Meetup</a>.</p>

                    <p>When she's not bent over a computer or yammering on with data junkies, she's lacing up her hiking kicks and treking the deserts, canyons, and mountains of the Southwest. Her advice: follow the Stacky Rocks to stay on the right path. </p>
                </div>
            </div>
        </div>
    </section>