<!-- RockBlog Section -->
<section id="rockblog" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Rock Blog</h2>
                <div class = "posts-section">
                    <ul class="post-list">
                        {% for post in site.posts %}
                            <li>
                                <div class=post-list-content>
                                    <img class="blog-img blog-img-list img-left" src={{site.baseurl}}img/posts/{{post.img}} alt={{post.title}}>
                                    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>      
                                    <div class="post-date">
                                        <div class="post-day">{{ post.date | date: "%-d %b" }}</div>
                                        <div class="post-year">{{ post.date | date: "%Y" }}</div> 
                                    </div>                               
                                    <p>{{post.description}}
                                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">...Read More</a>
                                    </p>   
                                </div>                            
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>